- project = project || @project

.git-clone-holder.js-git-clone-holder.input-group
  .input-group-prepend
    - if allowed_protocols_present?
      .input-group-text.clone-dropdown-btn.btn
        %span.js-clone-dropdown-label
          = enabled_project_button(project, enabled_protocol)
    - else
      %a#clone-dropdown.input-group-text.btn.clone-dropdown-btn.qa-clone-dropdown{ href: '#', data: { toggle: 'dropdown' } }
        %span.js-clone-dropdown-label
          = default_clone_protocol.upcase
        = icon('caret-down')
      %ul.dropdown-menu.dropdown-menu-selectable.clone-options-dropdown
        %li
          = ssh_clone_button(project)
        %li
          = http_clone_button(project)
        - if alternative_kerberos_url?
          %li
            = kerberos_clone_button(project)

  = text_field_tag :project_clone, default_url_to_repo(project), class: "js-select-on-focus form-control", readonly: true, aria: { label: 'Project clone URL' }
  .input-group-append
    = clipboard_button(target: '#project_clone', title: _("Copy URL to clipboard"), class: "input-group-text btn-default btn-clipboard")

    = geo_button(modal_target: '#modal-geo-info') if Gitlab::Geo.secondary?

= render 'shared/geo_info_modal', project: project if Gitlab::Geo.secondary?
